<html>

<head>
  <title>
    Films
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
  <main class="main">
    <header class="main-header">
      <h1>Films</h1>
    </header>

    <article class="movies">

      {% if recentRecords==[] %}
      <p>
        Not enough data
      </p>
      {% else %}
      {% for i in recentRecords %}
      <section class="movie movie--{{i[0]}}">
        <img class="movie-art" src="{{i[1]}}" />
        <h2 class="movie-title">{{i[2]}}</h2>
        <a class="movie-link" href="{{i[3]}}">watch</a>
      </section>
      {% endfor %}
      {% endif %}
    </article>

    <footer class="main-footer">
      <p class="fineprint">All media is property of their respective copyright holders</p>
    </footer>
  </main>
</body>

</html>