<html>

<head>
  <title>
    Films
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
  <main class="main">
    <header class="main-header">
      <h1>Films</h1>
    </header>

    <article class="movies">

      {% if movies==[] %}
      <p>
        Not enough data
      </p>
      {% else %}
      {% for movie_id, movie_art_url, movie_title, movie_watch_url in movies %}
      <section class="movie movie--{{ movie_id }}">
        <img class="movie-art" src="{{ movie_art_url }}" />
        <h2 class="movie-title">{{ movie_title }}</h2>
        <a class="movie-link" href="{{ movie_watch_url }}">watch</a>
      </section>
      {% endfor %}
      {% endif %}
    </article>

    <footer class="main-footer">
      <p class="fineprint">All media is property of their respective copyright holders</p>
    </footer>
  </main>
</body>

</html>